
.story_container{
min-height: 632px;
padding: 250px 0px 140px 0px;
}
.story_container p{
    color: #22356F;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 141.84%; 
    letter-spacing: 0.12px;

    display: block;
    max-width: 740px;
    margin: 0 auto;
}