.App {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cart {
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    width: 400px;
    &__item {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        width: 100%;
    }
    &__counter {
        font-size: 20px;

        width: 40%;
        display: flex;
        justify-content: space-between;
    }
}
button {
    background:none;
    border: none;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
}

.button-add{
    background: rgba(15, 15, 15, 0.986);
    width: 270px;
    color: aliceblue;
    border-radius: 10px;
}